.catalogo {
    display: flex;
    justify-content: space-between;
}
.prod{
    background-color: rgba(202, 114, 234, 0.5);
}
.bod{
    background-color: #a7cdeb;
}
.producto {
    border: 3px solid #4bdeff;
    padding: 10px;
    margin-bottom: 10px;
}

.carrito {
    margin-top: 20px;
    border: 4px solid #b68ee7;
}

.lista-carrito {
    list-style-type: none;
    padding: 0;
}

.total {
    font-weight: bold;
    margin-top: 10px;
}

button {
    margin-top: 5px;
}

